<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible"/>
    <meta charset="utf-8"/>
    <style type="text/css">
        body,html {
            background: rgb(204, 204, 204);
            font-family: arial;
            margin: 0;
            display: block;
            height: 100%;
            width: 100%;
        }

        page {
            background: white;
            display: block;
        }

        page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

        @media print {
            body,
            page {
                margin: 0;
                box-shadow: 0;
            }
        }

        table.page {
            width: 21cm;
            height: 29.7cm;
            background: white;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        .sidebar-right {
            padding-right: 1.5cm;
        }

        .sidebar-left {
            padding-left: 1.5cm;
        }

        .content {
            width: 100%;
            height: 29.7cm;
        }

        #content {
            height: 29cm;
        }

        .page table {
            width: 100%;
            height: auto;
        }

        tbody {
            vertical-align: top;
        }

        td {
            border-color: black;
            border-style: solid;
            border-width: 0.5px;
            padding: 0;
        }

        tr .title {
            text-align: center;
            padding-top: 1cm;
        }

        span {
            font-size: 9pt;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
        }

        #footer {
            text-size-adjust: 100%;
            font-family: arial, sans-serif;
            font-size: 12px;
            line-height: 20px;
            color: #000000;
            text-align: right;
        }

        .header {
            width: 4cm;
        }

        .small-space {
            padding-bottom: 0.5cm;
        }

        .arbeitgeber {
            padding: 0.5cm 0cm;
        }

        .title {
            padding-top: 1.5cm;
            padding-bottom: 1cm;
            text-align: center;
            vertical-align: center;
        }

        .textHeader {
            padding-bottom: 0.8cm;
        }

        .paragraphTitle {
            font-weight: bold;
            text-align: center;
            padding-bottom: 0.5cm;
        }

        .paragraphAbs{
            font-size: 10pt;
            text-align: left;
            padding-bottom: 0.5cm;
        }

        .insertedText{
            font-weight: bold;
        }
    </style>
</head>

<body>
<table class="page" id="page1">
    <tbody>
    <tr>
        <td>

            <table class="template">
                <tbody>
                <tr>
                    <td class="sidebar-right"></td>
                    <td class="content">

                        <table id="content">
                            <tbody>
                            <tr>
                                <td>
                                    <table id="title">
                                        <tbody>
                                        <tr>
                                            <td class="title">
                                                <span>
                                                    <strong>Gültig für Mitarbeiter Verwaltung</strong>
                                                </span>
                                                <br>
                                                <span style="font-size: 24px; font-weight: bold">
                                                Arbeitsvertrag
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table id="zwischenDer">
                                        <tbody>
                                        <tr>
                                            <td class="header">
                                              <span>
                                                Zwischen der
                                              </span>
                                            </td>
                                            <td>
                                              <span style="font-weight: bold">
                                                workplace <br>
                                                location
                                              </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table id="Arbeitgeber">
                                        <tbody>
                                        <tr>
                                            <td class="header">
                                            </td>
                                            <td class="arbeitgeber">
                                              <span>
                                                als Arbeitgeber
                                              </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table id="Name">
                                        <tbody>
                                        <tr>
                                            <td class="header">
                                              <span>
                                                und
                                              </span>
                                            </td>
                                            <td colspan="2" class="small-space">
                                              <span style="font-weight: bold">
                                                Herrn Max Mustermann
                                              </span> <br>
                                                <span>
                                                Anschrift:
                                                </span>
                                                <span style="font-weight: bold">
                                                    Musterstraße
                                              </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table id="Arbeitnehmer">
                                        <tbody>
                                        <tr>
                                            <td class="header"></td>
                                            <td class="arbeit" style="width: 5.5cm">
                                              <span>
                                               als Arbeitnehmer
                                              </span>
                                            </td>
                                            <td class="small-space" style="font-size: 8pt; font-style: italic">
                                                - die männliche Bezeichnung „Arbeitnehmer“ wird aus Gründen der sprachlichen Vereinfachung gewählt; die Bestimmungen dieses Vertrages gelten ungeachtet dieser Bezeichnung für Beschäftigte jeden Geschlechts -

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="textHeader">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span>wird folgender Arbeitsvertrag geschlossen:</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="paragaph1">
                                        <tr>
                                            <td>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphTitle">
                                                            <span>§ 1 Tätigkeit, Befristung, Probezeit, Bedingungen</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                            <span>(1) Die Einstellung als </span>
                                                            <span class="insertedText" th:text="${contract.getCreator()}" >«Tätigkeitsbezeichnung»</span>
                                                            <span> erfolgt ab </span>
                                                            <!--                                                <span class="insertedText" th:text="${contract.getParagraphList().get(1).getContentFields().get(2).getFieldValue()}">«Eintrittsdatum» </span>-->
                                                            <!--                                                <span class="insertedText" th:text="${contract.getParagraphList().get(1).getOptionalContents().get(1).getContent()}">«OPT Text»</span>-->

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                <span>(2) Die ersten «max. 6» Monate gelten als Probezeit. Während dieser Probezeit kann das
Arbeitsverhältnis beidseitig mit der besonderen Frist des § 9 Abs. 1 gekündigt werden. </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                <span>(3) Das Arbeitsverhältnis steht unter der auflösenden Bedingung, dass der Arbeitnehmer sich in
Deutschland nicht nur aufhalten, sondern auch einer Erwerbstätigkeit nachgehen darf, mit der Folge,
dass das Arbeitsverhältnis endet, ohne dass es einer Kündigung bedarf, wenn der zur
Erwerbstätigkeit berechtigende Titel aufgehoben wird oder die darin genannte Frist abläuft, ohne dass
eine Verlängerung erteilt und diese der Arbeitgeberin spätestens am Fristablauftag, das heißt dem
«Datum Laufzeit Aufenthaltstitel» nachgewiesen wird. </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="paragaph1" th:each="contract : ${contract.getParagraphList()}">
                                        <tr>
                                            <td>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphTitle">
                                                            <span th:text="${contract.paragraphList.get(${contractStat.current}).getParagraphNumber()}">number</span>
                                                            <span th:text="${contract.paragraphList.get(${contractStat.current}).getParagraphTitle()}">title</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                            <span>(1) Die Einstellung als </span>
                                                            <span class="insertedText" th:text="${contract.getCreator()}" >«Tätigkeitsbezeichnung»</span>
                                                            <span> erfolgt ab </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                <span>(2) Die ersten «max. 6» Monate gelten als Probezeit. Während dieser Probezeit kann das
Arbeitsverhältnis beidseitig mit der besonderen Frist des § 9 Abs. 1 gekündigt werden. </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="paragraph">
                                                    <tbody>
                                                    <tr>
                                                        <td class="paragraphAbs">
                                                <span>(3) Das Arbeitsverhältnis steht unter der auflösenden Bedingung, dass der Arbeitnehmer sich in
Deutschland nicht nur aufhalten, sondern auch einer Erwerbstätigkeit nachgehen darf, mit der Folge,
dass das Arbeitsverhältnis endet, ohne dass es einer Kündigung bedarf, wenn der zur
Erwerbstätigkeit berechtigende Titel aufgehoben wird oder die darin genannte Frist abläuft, ohne dass
eine Verlängerung erteilt und diese der Arbeitgeberin spätestens am Fristablauftag, das heißt dem
«Datum Laufzeit Aufenthaltstitel» nachgewiesen wird. </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table id="footer">
                            <tbody>
                            <tr>
                                <td>
                                    <div th:replace="/footer :: footer">footer</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                    <td class="sidebar-left"></td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>



</body>

</html>
